NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_PUBLIC_MAPBOX_TILESET_ID_ZCTA="herop-lab.489mshpr"
NEXT_PUBLIC_MAPBOX_TILESET_ID_TRACT="herop-lab.dng60lto"
NEXT_PUBLIC_MAPBOX_STYLE='mapbox://styles/herop-lab/clpiysnew00dr01qm8zfve41r'

# endpoint for Google Sheet form submission
NEXT_PUBLIC_EMAIL_FORM_URL=

# endpoint for Slack App form submission
NEXT_PUBLIC_SLACK_FORM_SUBMISSION_URL=
